/*
*
*	Name:			IRANYekan Font
*	Version:		1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2016
*	Updated on:		Dec 20, 2016
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
*
*/

@font-face {
  font-family: 'iransans';
  src: url('../fonts/ttf/IRANSansWeb.ttf');
  src: url('./../fonts/eot/IRANSansWeb.eot') format('eot'),
    url('./../fonts/woff/IRANSansWeb.woff') format('woff'),
    url('./../fonts/woff2/IRANSansWeb.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'iransans_regular';
  src: url('./../fonts/ttf/IRANSansWeb_Medium.ttf');
  src: url('./../fonts/eot/IRANSansWeb_Medium.eot') format('eot'),
    url('./../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
    url('./../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'iransans_bold';
  src: url('./../fonts/ttf/IRANSansWeb_Bold.ttf');
  src: url('./../fonts/eot/IRANSansWeb_Bold.eot') format('eot'),
    url('./../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
    url('./../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANSans_Bold';
  src: url('./../fonts/ttf/IRANSansWeb_Bold.ttf');
}

@font-face {
  font-family: 'IRANSans';
  src: url('./../fonts/ttf/IRANSansWeb.ttf');
}

@font-face {
  font-family: 'IRANSans_Light';
  src: url('./../fonts/ttf/IRANSansWeb_Light.ttf');
}

@font-face {
  font-family: 'IRANSans_Medium';
  src: url('./../fonts/ttf/IRANSansWeb_Medium.ttf');
}

@font-face {
  font-family: 'IRANSans_UltraLight';
  src: url('./../fonts/ttf/IRANSansWeb_UltraLight.ttf');
}

* {
  font-family: IRANSans, sans-serif;
}
