@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

html,
body {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: iranyekan, Tahoma, 'Open Sans', sans-serif;
  height: auto !important;
  position: relative !important;
}

a {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Change the white to any color ;) */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-filter: none;
  filter: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f7f9fc;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 12px;
}

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toLeft {
    direction: rtl;
  }

  .toRight {
    direction: ltr;
  }
  .disable {
    color: #00000040;
    background: #f5f5f5;
    cursor: not-allowed !important;
  }
}
